@model sistemav5.Models.ItensPedido

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ItensPedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProdutoId" class="control-label"></label>
                <input asp-for="ProdutoId" class="form-control" />
                <span asp-validation-for="ProdutoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
    <p>
        <a asp-action="Index">Lista</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produtos)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>
                       @* @Html.DisplayFor(modelItem => item.ProdutoId)*@
                    </td>
                    <td>
                       @* @Html.DisplayFor(modelItem => item.Quantidade)*@
                    </td>
                    <td>
                       @* @Html.DisplayFor(modelItem => item.Produtos)*@
                        @*@Html.DisplayFor(modelItem => item.ProdutoIp(item.ProdutoId))*@
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="sad">Edit</a> |
                        <a asp-action="Details" asp-route-id="sada">Details</a> |
                        <a asp-action="Delete" asp-route-id="asdasd">Delete</a>
                    </td>
                </tr>
            
        </tbody>
    </table>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
