@model sistemav5.Models.ViewModels.ItensPedidoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ItensPedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItensPedido.ProdutoId" class="control-label overflow-hidden"></label>
                <input asp-for="ItensPedido.ProdutoId" class="form-control" />
                <span asp-validation-for="ItensPedido.ProdutoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produtos" class="control-label"></label>
                <select asp-for="Produtos" asp-items="@(new SelectList(Model.Produtos,"Id","Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
    <p>
        <a asp-action="Index">Lista</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Produtos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItensPedido.ProdutoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItensPedido.Quantidade)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @* @Html.DisplayFor(modelItem => item.ProdutoId)*@
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.Quantidade)*@
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.Produtos)*@
                    @*@Html.DisplayFor(modelItem => item.ProdutoIp(item.ProdutoId))*@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="sad">Edit</a> |
                    <a asp-action="Details" asp-route-id="sada">Details</a> |
                    <a asp-action="Delete" asp-route-id="asdasd">Delete</a>
                </td>
            </tr>

        </tbody>
    </table>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
