@model sistemav5.Models.ViewModels.PedidoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ClienteId, new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(m => m.ClienteId, new SelectList(ViewBag.Clientes, "Id", "Nome"), null, new { @class = "form-control" })
            </div>


            <div class="form-group">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Voltar</a>
                <a asp-action="AdicionarProdutos" class="btn btn-success">Adicionar Produtos</a>
                @*@Html.Link("AdicionarProdutos", "AddRequests", new { id = 1 }, new { @class = "btn btn-primary" })*@
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-8">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-4" })
                @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ItensPedido, new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(m => m.ClienteId, new SelectList(ViewBag.Clientes, "Id", "Nome"), null, new { @class = "form-control" })
            </div>
            <table class="table rounded">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClienteId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cliente)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ItensPedido itens in Model.ItensPedido)
                    {
                        @foreach (Produto produto in itens.Produtos)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayName(produto.Id.ToString())
                                </td>
                                <td>
                                    @Html.DisplayName(produto.Nome)
                                </td>
                                <td>
                                    @Html.DisplayName(produto.Preco.ToString())
                                </td>
                                <td>
                                    @Html.DisplayName(produto.Quantidade.ToString())
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div class="form-group">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Voltar</a>
                <a asp-action="AdicionarProdutos" class="btn btn-success">Adicionar Produtos</a>
                @*@Html.Link("AdicionarProdutos", "AddRequests", new { id = 1 }, new { @class = "btn btn-primary" })*@
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
